<template>
  <div id="landing-page">

    <img src="@/assets/images/wlipdemo.png" style='height: 80%; width: 80%; object-fit: contain'>

    <div class="box">
      <div>
        <div v-for="(n, index) in rows" :key="index" class="row">
          <input type="text" 
            placeholder="text for row one"
            v-model="inputParams[index]"
          >
        </div>
      </div>
    </div>

  </div>
</template>

<script>

import axios from "axios";

const LINES_NUMBER = 8;
const SOURCE_ID = 0

export default {
  name: 'landing-page',
  data () {
    return {
      header: [],
      lineActions: [],
      inputParams: [],
      sourceID: SOURCE_ID,
      rows: LINES_NUMBER,
    }
  },

  created() {
    console.log("on create!");

    for (let i=0; i<LINES_NUMBER; i++) {
      this.lineActions[i] = false;
      this.inputParams[i] = "";
    }

    setInterval(() => {
      this.getTime();
    }, 1000);

    setInterval(() => {
      this.getTemperature();
    }, 30000);

    setInterval(() => {
      this.getQuote();
    }, 10000);
  },

  watch: {

  },

  methods: {
    getTime() {
      let today = new Date();
      let currentHours = today.getHours();
      currentHours = ("0" + currentHours).slice(-2);
      let currentMinutes = today.getMinutes();
      currentMinutes = ("0" + currentMinutes).slice(-2);
      let currentSeconds = today.getSeconds();
      currentSeconds = ("0" + currentSeconds).slice(-2);

      let time = "" + currentHours + ":" + currentMinutes + ":" + currentSeconds;

      let inputParams = [];
      let lineActions = [];

      this.$set(inputParams, 0, time);
      this.$set(this.inputParams, 0, time);

      // leave all the other lines as they are (except the first one)
      for (let i=1; i< inputParams.length; i++) {
        this.$set(lineActions, i, false);
        this.$set(inputParams, i, null);
      }

      let cmd = this.generate(inputParams, lineActions);
      this.sendCMD(cmd);
    },

    getTemperature() {
      let inputParams = [];
      let lineActions = [];

      // aarhus kommune
      let city = 2624647; 
      let lon = 10.16897;
      let lat = 56.16317;
      let api_key = "e9a1657ab9576cd2d84ea5edf12cfdca";

      // https://api.openweathermap.org/data/2.5/weather?id=2624647&appid=e9a1657ab9576cd2d84ea5edf12cfdca
      let url = "https://api.openweathermap.org/data/2.5/weather?id=" + city +"&appid=" + api_key;

      axios.get(url)
        .then(response => {
          let temperature = Math.round(parseFloat(response.data.main.temp)-273.15);
          this.$set(inputParams, LINES_NUMBER-1, "Temp: " + temperature + " C");
          this.$set(this.inputParams, LINES_NUMBER-1, "Temp: " + temperature + " C");
          console.log("Temp: " + temperature + " C");
          // leave all the other lines as they are (except the first one)
          for (let i=0; i< inputParams.length; i++) {
            this.$set(lineActions, i, false);
          }
          let cmd = this.generate(inputParams, lineActions);
          this.sendCMD(cmd);
        })
        .catch(e => {
          console.log("Error fetching the temperature");
        })
    },

    getQuote() {
      axios.get('https://api.chucknorris.io/jokes/random')
        .then(response => {
          let quote = response.data.value;

          console.log(quote);

          let inputParams = [];
          let lineActions = [];
          
          let parts = this.chunkString(quote, 21);

          // number of lines but remove 1st and last element (for time and temp)
          // the rest of the message will be discarded (if more than eg 6 lines)
          parts.splice(LINES_NUMBER - 2); 

          console.log(parts);
          
          for (let i=0; i<parts.length; i++) {
            this.$set(inputParams, i+1, parts[i]);
            this.$set(this.inputParams, i+1, parts[i])
          }
          
          // clear the rest of the lines, if any
          let r = LINES_NUMBER -2 - parts.length;
          for (let j=0; j<r; j++) {
            this.$set(lineActions, parts.length+j+1, true); // what to send to the display
            this.$set(this.inputParams, parts.length+j+1, ""); // what to show on the app
          }

          // do not touch first and last
          this.$set(lineActions, 0, false);
          this.$set(lineActions, LINES_NUMBER-1, false);

          let cmd = this.generate(inputParams, lineActions);
          this.sendCMD(cmd);
        })
        .catch(e=> {
          console.log("error fetching chuck norris: " + e);
        })
    },

    generate(inputParams, lineActions) {

      let command = [0xFF]; // 1 byte for the command type
      let header = [0x00, 0x00, 0x00]; // 3 bytes for the header
      let frameDataHeader = [];
      let frameData = [];
      let dataLength = 0;

      for (let i=0; i<inputParams.length; i++) {
        if (inputParams[i] != null) {
          frameData.push(inputParams[i]);
          dataLength += inputParams[i].length;
        }
      }

      // set dataControlMode to normal. 0x01 for double, 0x02 for image
      let dcm = 0x00; 

      // 5 bits: rows*lineInfo(1byte)
      let dataHeaderLength = this.rows * 1;

      // SetupInfo
      let setupInfo = (this.sourceID << 5) | dataHeaderLength;

      let action;
      // Line Info: keep(0), clear(1), change(2)
      for (let j=0; j<this.rows; j++) {

        let lineLength = inputParams[j] ? inputParams[j].length : 0;

        if (lineActions[j])
          action = 0x01;
        else {
          if (lineLength === 0)
            action = 0x00;
          else 
            action = 0x02;
        }
        
        let b = (action << 6) | lineLength;
        frameDataHeader.push(b.toString(16).padStart(2, "0"));
      }
    
      let length = header.length + frameDataHeader.length + dataLength + 2;

      header[0] = length.toString(16).padStart(2, "0"); // packet length
      header[1] = (dcm & 0x0F).toString(16).padStart(2, "0"); // DataControl
      header[2] = setupInfo.toString(16).padStart(2, "0"); // SetupInfo

      let cmd = 
        this.hex2String(command) +
        header.join('') +
        frameDataHeader.join('') +
        this.hex2String(frameData.join(''));

      let crc = this.crc16xmodem(cmd);
      cmd += crc.join('');

      return cmd;
    },

    sendCMD(cmd) {

      axios.post('http://127.0.0.1:5000/stream', cmd)
        .then(response => {
          // console.log("packet sent");
        })
        .catch(e => {
          console.log("error accessing API: \n" + e);
        });
    },

    hex2String(data) {
      var buff = new Buffer(data, 'utf8');
      return buff.toString('hex').toUpperCase();
    },

    chunkString(str, len) {
      let input = str.trim().split(' ');
      let [index, output] = [0, []]
      output[index] = '';
      input.forEach(word => {
          let temp = `${output[index]} ${word}`.trim()
          if (temp.length <= len) {
              output[index] = temp;
          } else {
              index++;
              output[index] = word;
          }
      })
      return output;
    },

    crc16xmodem(str1) {
      const buf = Buffer.from(str1, 'hex');
      let crc = typeof previous !== 'undefined' ? ~~previous : 0x0;

      for (let index = 0; index < buf.length; index++) {
        const byte = buf[index];
        let code = (crc >>> 8) & 0xff;

        code ^= byte & 0xff;
        code ^= code >>> 4;
        crc = (crc << 8) & 0xffff;
        crc ^= code;
        code = (code << 5) & 0xffff;
        crc ^= code;
        code = (code << 7) & 0xffff;
        crc ^= code;
      }

      let str = crc.toString(16);
      var a = [];

      str = str.padStart(4, "0"); // make sure we have also the leading 0, if needed
      for (var i = 0; i < str.length; i += 2) {
          a.push(str.substr(i, 2).padStart(2, "0"));
      }

      console.log(a); // prints the array
      // console.log(a.join(" ")); // turn the array into a string of hex values
      // console.log(parseInt(a[1], 16)); // parse a particular hex number to a decimal value
      return a;
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
  color: green;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 400px;
}

input {
  width: 70%;
  padding: 1em;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #000;
  color: greenyellow;
  font-size: 105%;
  display: inline-block;
}

.row {
  width: 100%;
  display: inline-block;
}

input[type=checkbox] {
  font-size: 200%;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-color: white;
}


</style>
